body{
    background-image: url("./project-one-images/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    overflow-y: hidden;
} 


.container{
    display: flex;
}

.youngdragon{
    width: 50px;
    height: auto;
    position: relative;
    padding-left: 40px;
    margin-top: 10%
} 

/* Buttons and Bars Status */
.container{
    display: flex;
}

.buttonClass{
    display: flex;
    flex-direction: column;
}
.barClass{
    flex: 1;
}

#feedbar{
  width: 1%;
  height: 30px;
  background-color: green;
}

#playbar{
  width: 1%;
  height: 30px;
  background-color: red;
}

#sleepinessbar{
  width: 1%;
  height: 30px;
  background-color: blue;
}
/* Buttons and Bar Status END */


#timer {
    left: 100px;
    width: 500px;
    height: 30px;
    top:100px;
    border: 2px black solid;
    background-color: lightgreen;
    text-align: center;
}
#timeLeft{
    float:right;
    background: red;
    height:30px;  
}

#ageBar {
    width:100%;
    background-color: gold;
}
#ageProgress {
    width: 1%;
    height: 30px;
    background-color: green;
}


