body{
    background-image: url("./project-one-images/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
}
.container, .row {
    display:flex;
    padding-top:100px;
}  

.youngdragon{
    width: 500px;
    height: auto;
    position: relative;
    padding-right: 200px;
}
#hunger{
    background-color: aqua;
    height: 24px;
    width:500px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#sleepiness{
    background-color: rgb(203, 47, 255);
    height: 24px;
    width:500%;
    margin-top: 20px;
}
#boredom{
    background-color:indianred;
    height: 24px;
    width: 500px;
    margin-top: 20px;
}
#progressbar {
    background-color: #40ff00;
    height: 30px;
    width: 70%;
    margin-top: 50px;
    margin-left: 170px;
}
#age {
    background-color:gold;
    width: 30px;
    height: 400px;
    margin-left: 100px;
}
